#home img {
	width: 100%;
	max-width: 200px;
	display: block;
	margin: 0 auto;
}

#home .ui-header {
	background: black;

}

#mypost iframe {
	display: none;
}



img {
	width: 100%;
	height:auto;
}

.ssba img {
	width: 30px; height: 30px; margin-left: 5px;
}

.ssba {
	padding-top: 10px;
	border-top: 1px solid #CCC;
}